body {
    background-size: 1550px;
    background-image: url(https://media.discordapp.net/attachments/1150467961992269964/1260608544609271982/16_20240707145356.png?ex=66909972&is=668f47f2&hm=5fc5b0e397621633ff0cc8de354712c52e4844cbd04e1c2979e0156bb1d05bbf&=&format=webp&quality=lossless&width=1012&height=456);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.game_name1 {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
}
.game_info1 {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
}
.community {
    color: white;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.hyper {
    color: white;
    text-align: end;
    font-family: sans-serif;
    font-size: 50px;
}
